@keyframes fade {
    0% {
        opacity: 0;
        background-color: black;
    }
    100% {
        opacity: 1;
        background: url("images/index-bg.jpg");
        background-size: cover;
    }
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    height: 100vh;
    text-align: center;
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    width: 100%;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-duration: 5s;
    animation-name: fade;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
header h1 {
    font-size: 5vw;
    color: white;
    transition: .3s;
}
header h1:hover {
    font-size: 6vw;
}

#content {
    position: relative;
    z-index: 2;
    padding: 20px;
}

footer {
    position: absolute;
    height: 100px;
    line-height: 100px;
    border: 1px solid whitesmoke;
    padding: 0px 20px;
    width: 100%;
}
footer p {
    text-align: center;
}
footer a:hover {
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.flex-item {
    padding: 20px 15px;
    border: 1px solid lightgray;
    border-radius: 7px;
    margin: 10px;
    text-align: center;
    min-width: 250px;
    min-height: 250px;
    transition: .2s;
    cursor: pointer;
    color: black;
}
.flex-item:hover {
    box-shadow: 2px 2px 6px lightgray;
}

#navigation, #left-nav, #right-nav {
    position: fixed;
    height: 60px;
    background-color: black;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: 3;
    top: 0;
    border-bottom: 1px solid #0e1525;
    display: flex;
    align-items: center;
}
#navigation {
    justify-content: space-between;
    width: 100%;
}
#navigation a {
    font-weight: 500;
    color: white !important;
    display: inline-block;
    white-space: nowrap;
    font-size: large;
    padding: 0 20px;
}

#left-nav {
    left: 0;
    margin-left: 10px;
    text-align: left;
}
#right-nav {
    right: 0;
    margin-right: 10px;
    text-align: right;
}
#navigation a:hover {
    text-decoration: none;
}
.rounded-img {
    border-radius: 50%;
}
.avatar {
    max-height: 50px;
    margin-left: 20px;
}
