body {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    height: 3vh;
}

/**  Links  **/
a:link, a:hover, a:visited, a:active {
    color: #0000EE;
}
a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
